.home-container {
  // background: url(../../assets/image/bg_1920.png) no-repeat;
  // background-size: cover;
  // background-position: center center;
  background-color: rgba(0,0,0,0);
  position: relative;
  .home-bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background-image: url('../../assets/image/bg_1920.png');
    background-position: center center; /* 调整背景图像的位置 */
    background-repeat: no-repeat; /* 控制背景图像的重复方式 */
    background-size: cover; /* 控制背景图像的大小 */
 
    &:after,  &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../../assets/image/yuanpan.gif');
      background-position: center center; /* 调整背景图像的位置 */
      background-repeat: no-repeat; /* 控制背景图像的重复方式 */
      background-size: cover; /* 控制背景图像的大小 */
      opacity: 0.06;
    }
    &:before {
      background-image: url('../../assets/image/line.gif');
    }
  }

  .home-content {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    .page-title {
      overflow-wrap: break-word;
      color: #fff;
      font-size: 6.2vw;
      line-height: 6.6vw;
      letter-spacing: 10px;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 15px;
    }
    .page-title-sub {
      overflow-wrap: break-word;
      color: #fff;
      font-size: 1.9vw;
      font-family: ArialMT;
      color: #ffffff;
      line-height: 26px;
      letter-spacing: 7px;
      text-transform: uppercase;
      margin-bottom: 2em;
    }
  }
  .footer-item {
    padding-top: 12px;
    padding-bottom: 32px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.1s linear;
    &:hover {
      background-color: #5b3df2;
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }
  .home-copyright {
    height: 32px;
    line-height: 32px;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
@media screen {
  
}