.home-container {
  background: url(../../assets/image/bg1920.gif) no-repeat;
  background-size: cover;
  background-position: center center;

  .home-content {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    .page-title {
      overflow-wrap: break-word;
      color: #fff;
      font-size: 6vw;
      letter-spacing: 10px;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .footer-item {
    padding-top: 12px;
    padding-bottom: 32px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all .1s linear;
    &:hover {
      background-color: #5B3DF2;
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }
  .home-copyright {
    height: 32px;
    line-height: 32px;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}


