.home-container {
  background: url(../../assets/image/home_bg.png) no-repeat;
  background-size: cover;
  background-position: center center;

  .home-content {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    .page-title {
      overflow-wrap: break-word;
      color: #fff;
      font-size: 6vw;
      letter-spacing: 10px;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 20px;
    }

  
  }

 
}

.ant-drawer-body {
  padding-left: 0;
}

.draw-content {
  .title {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 21px;
    margin: 24px 0 0 40px;
    // margin-bottom: 0;
  }

  .category-item {
    // padding-left: 69px;
    margin: 15px 0;

    .line {
      width: 70px;
      border-top: 1px solid #fff;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      transition: width 0.2s linear;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: -1.5px;
        width: 3px;
        height: 3px;
        background-color: #fff;
        transition: all 0.2s linear;
      }
    }

    &.active,
    &:hover {
      .line {
        width: 130px;
        border-image: linear-gradient(
            270deg,
            rgba(242, 67, 217, 1),
            rgba(24, 96, 247, 1)
          )
          1 1;
      }
    }
  }
}
