.ant-layout-header,.ant-layout-footer {
  background-color: transparent;
//   padding: 0 40px;
}
.transparent-input {
  .ant-input-group-addon:nth-of-type(1),.ant-input {
    color: #fff;
    background: rgba(255, 255, 255, 0.26);
    border: none;
}
.ant-input-group-addon:nth-of-type(2) {
    border: none;
    color: #fff;
    background-color: @primary-color;
  }
  .ant-input:focus, .ant-input-focused {
    box-shadow: none;
  }
}
.ant-drawer-content{
  background: @liner-color;
  color:#fff;
}
.digital-modal {
  .ant-modal-header {
    padding: 0;
    border: none;
  }
  .ant-modal-body {
    padding-bottom: 10px;
  }
}
// .ant-btn-background-ghost.ant-btn-primary,.ant-btn-background-ghost.ant-btn-primary:hover, .ant-btn-background-ghost.ant-btn-primary:focus {
//   color: @primary-color;
//   border-color: @primary-color;
// }