.ant-layout-header,
.ant-layout-footer {
  background-color: transparent;
}

.transparent-input {
  .ant-select * {
    color: #fff;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: transparent;
    box-shadow: none !important;
  }

  .ant-input-group-addon:nth-of-type(1),
  .ant-input {
    background: rgba(255, 255, 255, 0.26);
    border: none;
    color: #fff;
  }

  .ant-input-group-addon:nth-of-type(2) {
    border: none;
    color: #fff;
    background-color: @primary-color;
  }

  .ant-input:focus,
  .ant-input-focused {
    box-shadow: none;
  }
}

.ant-drawer-content {
  background: @liner-color;
  color: #fff;
}

.digital-modal {
  .ant-modal-header {
    padding: 0;
    border: none;
  }

  .ant-modal-body {
    padding-bottom: 10px;
  }
}

.transparent-full-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-header {
    background-color: transparent;
  }
  .ant-modal-content {
    background: linear-gradient(180deg, #1f1033e6 0%, #061233e6 100%);
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    padding-top: 30vh;
    padding-bottom: 7vh;
    display: flex;
    flex-direction: column;
  }
  .ant-modal-close {
    right: 3.5em;
    top: 3.5em;
  }
  .ant-modal-close-x {
    color: white;
  }
}

.border-bottom-search .ant-input-affix-wrapper,
.border-bottom-search .ant-input {
  background-color: transparent;
  // color: #fff;
}
.border-bottom-search .ant-input-affix-wrapper,
.border-bottom-search .ant-input-affix-wrapper:focus,
.border-bottom-search .ant-input-affix-wrapper-focused {
  border-left: none;
  border-top: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
}
.ant-image-preview-content {
  height: 100vh;
}