.ant-layout-header,
.ant-layout-footer {
  background-color: transparent;
}

.transparent-input {

  .ant-select * {
    color: #fff;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: transparent;
    box-shadow: none !important;
  }

  .ant-input-group-addon:nth-of-type(1),
  .ant-input {
    background: rgba(255, 255, 255, 0.26);
    border: none;
    color: #fff;
  }

  .ant-input-group-addon:nth-of-type(2) {
    border: none;
    color: #fff;
    background-color: @primary-color;
  }

  .ant-input:focus,
  .ant-input-focused {
    box-shadow: none;
  }
}

.ant-drawer-content {
  background: @liner-color;
  color: #fff;
}

.digital-modal {
  .ant-modal-header {
    padding: 0;
    border: none;
  }

  .ant-modal-body {
    padding-bottom: 10px;
  }
}

// .search {
//   .ant-select * {
//     color: white;
//   }
// }

// .ant-btn-background-ghost.ant-btn-primary,.ant-btn-background-ghost.ant-btn-primary:hover, .ant-btn-background-ghost.ant-btn-primary:focus {
//   color: @primary-color;
//   border-color: @primary-color;
// }