// common
.primary-color {
  color: @primary-color;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
  .group-item {
    padding: 10px 0;

    .group-item-title {
      width: 100%;
      padding: 10px 0;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: 19px;
        width: calc(100% - 98px);
        height: 1px;
        background-color: #ccc;
        top: 50%;
      }

      &:before {
        content: "";
        position: absolute;
        left: 76px;
        width: 6px;
        height: 6px;
        background-color: #ccc;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

     
    }
  }
.line-title {
  position: relative;
  & > span {
    position: relative;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 24px;
    height: 8px;
    z-index: 0;
    background: #f243d9;
  }
}
.lines-purple {
  border-bottom: 1px solid #5b3df2;
  position: relative;
  &::before {
    content: "";
    width: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #5b3df2;
  }
}
